{% extends 'base.html' %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
{% block content %}

<h1>Wishlist</h1>
  <form id="form" onsubmit="return false;">
    {% csrf_token %}
    <label>Item name</label>
    <input type="text" name="nama_barang"></input>
    <label>Item Price</label>
    <input type="number" name="harga_barang"></input>
    <label>Description</label>
    <input type="text" name="deskripsi"></input>
    <button id="button" type="submit"  value="Submit"></button>
  </form>

  <table id="table"></table>

<script>
  async function getWishlist() {
    return fetch("{% url 'wishlist:show_json' %}").then((res) => res.json())
  }

  async function refreshWishlist() {
        document.getElementById("table").innerHTML = ""
        const wishlist = await getWishlist()
        let htmlString = `<tr>
          <th>Nama Barang</th>
          <th>Harga Barang</th>
          <th>Deskripsi</th>
        </tr>`
        wishlist.forEach((item) => {
          htmlString += `\n<tr>
          <th>${item.fields.item_name}</th>
          <th>${item.fields.item_price}</th>
          <th>${item.fields.description}</th>
        </tr>` 
        })
        
        document.getElementById("table").innerHTML = htmlString
  }

  function addWishlist() {
    fetch("{% url 'wishlist:add_wishlist_item' %}", {
          method: "POST",
          body: new FormData(document.querySelector('#form'))
      }).then(refreshWishlist)
    return false
  }

  document.getElementById("button").onclick = addWishlist
  refreshWishlist()
</script>

{% endblock content %}