{% extends 'base.html' %}

{% block content %}

<h1> Lab 3 PBP/PBD</h1>

<h5>Name: </h5>
<b>{{name}}</b>

<h5>Student ID: </h5>
  <p>{{npm}}</p>

<table>
    <tr>
    <th>Item Name</th>
    <th>Item Price</th>
    <th>Description</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% comment %} Add data below {% endcomment %}
{% for item in list_item %}
    <tr>
        <th>{{item.item_name}}</th>
        <th>{{item.item_price}}</th>
        <th>{{item.description}}</th>
    </tr>
{% endfor %}
</table>
<h5>Last Login: {{ last_login }}</h5>
<button><a href="{% url 'wishlist:logout' %}">Logout</a></button>

{% endblock content %}